
// medium size
@include mediaMd{
    
    // aboutus section
    #aboutus{
        h1{
            width: 80%;
            margin: auto;
            font-size: 1.8rem;
        }
        .aboutus-col-1{
            .nav-item{
                width: 150px;
               .nav-link{
                h4{
                    font-size: 1.2rem;
                }
               }
            }
        }
    }


    .address-col{
        margin: 20px 0;
        &:nth-child(2n){
            // border-top: 1px solid #eee;
            // border-bottom: 1px solid #eee;
        }
    }

    .customers-grid{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 1fr;
    }
}

// small size
@include mediaSm{
    // aboutus section
    #aboutus{
        .aboutus-col-1{
            .nav-item{
                width: 100px;
                margin: 0 5px;
               .nav-link{
                h4{
                    font-size: 0.9rem;
                }
               }
            }
        }

        
    }

    .navbar-brand{
        width: 230px !important;
    }

    // experience section
    #experience{
        h1{
            font-size: 2rem !important;
        }

        .count-col{
            .count{
                font-size: 2.4rem !important;
            }
            span{
                font-size: 2.4rem !important;
            }
        }
    }

    .customers-grid{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1fr;
    }

    
}

// large size
@include mediaLg{


    .address-col{
        margin-bottom: 20px;
        &:nth-child(2n){
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
        }
    }

    .customers-grid{
        display: grid;
        align-items: center;
        grid-template-columns: repeat(7,1fr);
        grid-gap: 1fr;
    }
}

// extra large size
@include mediaXl{
}