// import partials
@import 'config';
@import 'custom-classes';
@import 'header';
@import 'showcase';
@import 'others';
@import 'footer';
@import 'mobile';


// full document settings
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Nunito', Helvetica , Arial , sans-serif;
}

.page-content{
    position: relative;
}


.slash{
    width: 100px;
    height: 2.3px;
    
}


// scroll to top btn function
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: $blue-clr; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 7px 18px; /* Some padding */
    border-radius: 50%; /* Rounded corners */
    font-size: 22px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  

